[Unit]
Description=Dikt Speech-to-Text Service
PartOf=graphical-session.target
After=graphical-session.target
ConditionUser=!gdm
ConditionUser=!gdm-greeter

[Service]
Type=dbus
BusName=io.dikt.Transcription
ExecStart=/usr/bin/dikt --daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
